.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#ostoskori {
	margin:50px auto;
	width: 90%;
	height: 600px;
}

#ostoskori_tilaus_button {
	border: 2px solid white;
	height: 30px;
	width: 100%;
	font-size: 15px;
	border-radius: 0;
}

#ostoskori_middle {
	height: 50%;
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

#ostoskori_pizzat {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	text-align:center;
}

.ostoskori_pizza {
	height: 75px;
	padding: 10px;
	font-size:80%;
}

#ostoskori_bottom{
	height:250px;
	width:100%;
	display:flex;
	flex:nowrap row;
	justify-content:space-between;
}

#ostoskori_lomake {
	width: 30%;
	height:100%;
}

#ostoskori_tilaus {
	height: 100%;
	width:30%;
	display:flex;
	justify-content:center;
	align-items:center;
}

input {
	width: 100%;
	display: block;
	margin-bottom: 25px;
}