body, html {
	margin:0;
	padding: 0;
	background-color:#222;
	color:#FFF;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-size:cover;
	background-repeat:no-repeat;
}

.notification{
	display:absolute;
	top:0;
	left:0;
	height:65px;
	width:250px;
	color:white;
}

.hidden{
	display:none !important;
}

#wrapper {
	margin:auto;
	padding-top:20px;
	max-width: 1024px;
	width: 100%;
}

input{
	border:none;
	border-bottom:1px solid white;
	color:lightgreen;
	background:transparent;
}

a {
	text-decoration: none;
	color: #FFF;
}

a:hover {
	text-decoration: underline;
}

/* HEADER ALKAA*/
#header {
	width:100%;
}

#logo {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:40px;
	float: left;
	height:100px;
}

#logo img {
		max-width: 50px;
}


#kirjaudu {
	float:right;
}

#kirjaudu_form{
	width:100%;
	height:100%;
	display:flex;
	flex:nowrap row;
}

#kayttajatunnus{
	width:40%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

#salasana{
	width:40%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	padding-left:10px;
}

button{
	border:1px solid white;
	border-radius:20px;
	font-family:Arial;
	background:transparent;
	color:white;
}

#submit{
	width:20%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}



#nav {
	width: 100%;
	padding:0;
	background: #CCC;
}

#nav ul {
	margin: 0px;
	padding: 0px;
}

#nav ul li {
	display:inline-block;
	padding: 10px 20px;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left:0;
	margin:0;
	float:left;
	
}

#nav ul li:first-child {
	border-left: 1px solid #CCC;
}
/* HEADER LOPPUU */


/* BANNER ALKAA */
#banner {
	height:300px;
	background:url(banner.jpg);
	background-repeat:no-repeat;
}

.bannertxt {
	position: relative;
	top: 100px;
	left: 40px;
	font-size: 100px;
	color: #FFF;
}
/* BANNER LOPPUU */

/* MENU ALKAA */
.menu {
	padding:0px 20px 0px 20px;
}

.menuitemwrap {
	width:472px;
	float: left;
	margin: 10px;
}

.menuitem {
	border: 1px solid #CCC;
	padding: 10px;
}

.menuitem table {
	width: 100%;
}

.menuitem td:first-child {
	width: 175px;
	height: 175px;
}

.pizzamenu {
	margin:0;
	padding:0;

}

.pizzamenu li {
	width: 45%;
	padding:1%;
	margin: 10px 1%;
	background-color: #333;
	float:left;
	opacity: 0.8;
	border: 1px solid #CCC;
	display: inline-block;
}
.pizzakuva {
	float:left;
}

.pizzainfo {
	padding-right:20px;
}

.pizzanimi {
	font-weight:bold;
}

.pizzahinta button {
	float: right;
	margin-right:20px;
}

.pizzakuvaus {
}
/* MENU LOPPUU */

.listalla {
	display: inline;
}

.clear {
	clear:both;
}

/* OMISTAJA */

.menuitem textarea {
	resize: none;
	width: 98%;
	height: auto;
	background: none;
	border: 0px;
	color: #FFF;
	font-size: 14px;
	font-family: Arial;
	display: block;
	padding: 1%;
	margin: 3px 0px;
}

.pizzainfo input[type="text"] {
	background: none;
	border: 0;
	color: #FFF;
	width: 98%;
	font-size: 14px;
	padding: 1%;
}

.pizzainfo input[type="checkbox"] {
	width: auto;
}

.muokkaa {
	background: #FFF !important;
	color: #333 !important;
}

#uusiPizza{
	height:150px;
	border:2px solid white;
}


/* OMISTAJA LOPPUU */

/* ADMIN PANEL */
	
	#apanel {
		position:fixed;
		right: 20px;
		top: 20px;
	}
	
	#apanelwrapper {
		width:270px;
		background:#222;
		color: #FFF;
		padding:20px;
		border: 1px solid #555;
		opacity: 0.8;
		font-size: 12px;
	}
	
	#apanel h1 {
		margin: 0px 0px 20px 0px;
	}
	#apanel label {
		width: 90px;
		display:inline-block;
	}
	
	#apanelcontent {
	}
	
/* ADMIN PANEL LOPPUU */

/* TAYTTEET */
	#taytelista {
		margin:auto;
	}
	#taytelista li {
		list-style:none;
		font-size: 12px;
		padding:10px;
		color:#FFF;
	}
	#taytelista label {
		width: 100px;
		display:inline-block;
	}
	
	#taytelista table {
		margin: 0;
		padding: 0;
		border: 0;
		border-spacing:0;
	}
	#taytelista td {
		font-size: 12px;
		padding:5px;
		color:#FFF;
	}
	#taytelista tr:first-of-type {
	}
	#taytelista tr:nth-child(odd) {
		background-color:#444444;
	}
	#taytelista > table > tbody > tr:nth-child(odd) > td > form > table > tbody > tr {
		background-color:#444444;
	}
	#taytelista > table > tbody > tr:nth-child(even) > td > form > table > tbody > tr {
		background-color:#656565;
	}
	#taytelista tr:nth-child(even) {
		background-color:#656565;
	}
	
/* TAYTTEET LOPPUU */



/*
	MUOKKAA VALITTUA PIZZAA NÄKYMÄ
*/

#valitse_pizza_container{
	width:800px;
	height:800px;
	margin:auto;
	margin-top:200px;
	
}

#pizza_vasen{
	width:500px;
	height:800px;
	float:left;
}

#pizza_oikea{
	width:300px;
	height:800px;
	margin-left:auto;
}

#pizza_kuva{
	width:100%;
	height:100%;
	object-fit:fill;
	object-position:50% 50%;
}



/* RESPONSIVE */

@media only screen and (max-width: 1024px) {
	.menuitemwrap {
		max-width: 100%;
		width: 100%;
	}
	
	
	
}
/* RESPONSIVE LOPPUU */
